<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <!-- <div style="margin: 10% 30%"> -->
    <h2 style="margin-bottom: 15px">Welcome {{user.username}}!</h2>
    <h2>Profile</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ user_form.as_p }} {{ profile_form.as_p }}
      <button type="submit">Update Profile</button>
    </form>
    <!-- </div> -->
  </body>
</html>
